.jspsych-html-button-response-button {
    width: 30%;
    margin: 0 10% !important;
}

.instruction {
    margin: 5%;
}

#jspsych-html-button-response-btngroup {
    margin-top: 15%;
    text-align:center;
}

#jspsych-html-keyboard-response-stimulus {
    text-align:center;
}

#jspsych-survey-html-form-preamble {
    font-size: 27px;
    text-align: center;
}

#jspsych-survey-html-form {
    text-align: center;
}

img {
    width: 100%;
}